name: R-CMD-check-and-coverage

on:
  push:
    branches: [main, master]
  pull_request:
    branches: [main, master]

jobs:
  coverage:
    runs-on: ubuntu-latest

    name: Code Coverage

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up R
        uses: r-lib/actions/setup-r@v2

      - name: Set up Pandoc
        uses: r-lib/actions/setup-pandoc@v2

      - name: Install system dependencies
        uses: r-lib/actions/setup-r-dependencies@v2
        with:
          extra-packages: |
            any::covr
            any::rcmdcheck
          needs: coverage

      - name: Run tests and compute coverage
        run: |
          Rscript -e 'covr::codecov()'

      - name: Upload test results (Artifacts)
        if: always()
        uses: actions/upload-artifact@v4
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
          name: testthat-results
          path: tests/testthat
